@media (max-width: 576px) {
    .navigate__category {
        font-size: 13px;
    }

    .section__title {
        font-size: 20px;
    }

    .section__descr {
        font-size: 10px;
    }

    .section__bg {
        height: 50px;
    }

    .goods__title {
        font-size: 20px;
    }

    
    .goods__item {
        width: 100%;
    }
    
    .goods__item:not(:nth-child(2n)) {
        margin-right: 0; 
    }

    .goods__prewiew__image {
        min-width: 100px;
        max-width: 100px;
    }

    .goods__list {
        display: block;
    }

    .modal__content {
        max-width: 150px;
        max-height: 150px;
        padding: 5px;
    }
    
    .quantity__label {
        margin-bottom: 5px;
        font-size: 6px;
    }

    .counter {
        margin-bottom: 5px;
    }

    .decrement__btn, .increment__btn {
        margin-right: 10px;
        height: 15px;
        width: 15px;
        font-size: 15px;
    }
    
    .counter__value {
        margin-right: 10px;
        height: 15px;
        width: 25px;
        font-size: 15px;
    }

    .color {
        margin-bottom: 5px;
        font-size: 5px;
    }

    .custom__radio {
        margin-bottom: 5px;
    }

    .custom__span {
        width: 15px;
        height: 15px;
        border: 1px solid var(--light-color);
    }

    .comment {
        margin-bottom: 5px;
        font-size: 6px;
    }

    .comment__textarea {
        margin-bottom: 5px;
        height: 20px;
    }

    .btn__modal {
        line-height: 15px;
        font-size: 5px;
    }

    .modal__close {
        top: 5px;
        right: 5px;
        font-size: 20px;
    }

    .btn__section {
        width: 150px;
    }

    .footer {
        height: 80px;
        padding: 0;
    }

    .footer__list {
        justify-content: space-around;
    }

    .footer__bg {
        width: 50px;
        background-position: center center;
    }

    .footer__title {
        justify-content: space-around;
    }

    .footer__name .navigate__category {
        font-size: 13px;
    }

    .footer__descr {
        font-size: 10px;
        text-align: start;
    }

    .footer__item {
        padding-top: 5px;
    }
    
    .footer__link {
        font-size: 10px;
    }

    .btn__scroll {
        background-size: contain;
        width: 20px;
        height: 20px;
        right: 10px;
    }

    .btn__scroll.show {
        bottom: 10px;
    }
}


@media (min-width: 577px) and (max-width: 767px) {
    .section__title {
        font-size: 30px;
    }

    .section__descr {
        font-size: 20px;
    }

    .section__bg {
        height: 200px;
    }

    .goods__title {
        font-size: 20px;
    }

    
    .goods__item {
        width: 100%;
    }
    
    .goods__item:not(:nth-child(2n)) {
        margin-right: 0; 
    }

    .goods__list {
        display: block;
    }

    .btn__section {
        width: 252px;
    }

    .footer__name .navigate__category {
        font-size: 30px;
    }

    .footer__descr {
        font-size: 20px;
    }
    
    .footer__link {
        font-size: 15px;
    }

    .modal__content {
        max-width: 200px;
        max-height: 200px;
        padding: 5px;
    }
    
    .quantity__label {
        margin-bottom: 5px;
        font-size: 10px;
    }

    .counter {
        margin-bottom: 5px;
    }

    .decrement__btn, .increment__btn {
        margin-right: 10px;
        height: 25px;
        width: 25px;
    }
    
    .counter__value {
        margin-right: 10px;
        height: 25px;
        width: 35px;
    }

    .color {
        margin-bottom: 5px;
        font-size: 10px;
    }

    .custom__radio {
        margin-bottom: 5px;
    }

    .custom__span {
        width: 25px;
        height: 25px;
        border: 1px solid var(--light-color);
    }

    .comment {
        margin-bottom: 5px;
        font-size: 10px;
    }

    .comment__textarea {
        margin-bottom: 5px;
        height: 25px;
    }

    .btn__modal {
        line-height: 20px;
        font-size: 10px;
    }

    .modal__close {
        top: 5px;
        right: 5px;
        font-size: 20px;
    }

    .btn__scroll {
        background-size: contain;
        width: 25px;
        height: 25px;
        right: 15px;
    }

    .btn__scroll.show {
        bottom: 15px;
    }
}

@media (min-width: 768px) and (max-width: 995px) {
    .section__title {
        font-size: 40px;
    }

    .section__descr {
        font-size: 30px;
    }

    .section__bg {
        height: 250px;
    }
    
    .goods__title {
        font-size: 26px;
    }

    .goods__prewiew {
        min-height: 204px;
    }

    .goods__prewiew__image {
        min-width: 100px;
        max-width: 100px;
        height: 184px;
        object-fit: contain;
        padding: 10px;
    }

    .goods__prewiew__text {
        min-width: 200px;
    }

    .goods__time {
        font-size: 14px;
    }

    .goods__prewiew__title {
        font-size: 14px;
    }

    .modal__content {
        max-width: 200px;
        max-height: 200px;
        padding: 5px;
    }
    
    .quantity__label {
        margin-bottom: 5px;
        font-size: 10px;
    }

    .counter {
        margin-bottom: 5px;
    }

    .decrement__btn, .increment__btn {
        margin-right: 10px;
        height: 25px;
        width: 25px;
    }
    
    .counter__value {
        margin-right: 10px;
        height: 25px;
        width: 35px;
    }

    .color {
        margin-bottom: 5px;
        font-size: 10px;
    }

    .custom__radio {
        margin-bottom: 5px;
    }

    .custom__span {
        width: 25px;
        height: 25px;
        border: 1px solid var(--light-color);
    }

    .comment {
        margin-bottom: 5px;
        font-size: 10px;
    }

    .comment__textarea {
        margin-bottom: 5px;
        height: 25px;
    }

    .btn__modal {
        line-height: 20px;
        font-size: 10px;
    }

    .modal__close {
        top: 5px;
        right: 5px;
        font-size: 20px;
    }

    .btn__section {
        min-width: 200px;
        max-width: 200px;
        font-size: 14px;
    }

    .btn__scroll {
        background-size: contain;
        width: 35px;
        height: 35px;
        right: 22px;
    }

    .btn__scroll.show {
        bottom: 22px;
    }
}